* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  width: 100%;
  max-width: 815px;
  margin: 0 auto;
  padding: 0px 15px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary-color1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}
