.container {
  display: flex;
  justify-content: center;
}

.back {
  position: absolute;
  width: 100%;
}

.card {
  background-color: white;
  width: 100%;
  max-width: 450px;
  height: 650px;
  position: absolute;
  border-radius: 2rem;
  margin-top: 10.2rem;
  .img-hero img {
    border-radius: 2rem 2rem 0 0;
    width: 100%;
  }
  .info {
    margin: 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    text-align: center;
    margin-top: 4rem;
    h1 {
      font-size: 2.4rem;
      color: $second-color3;
      font-weight: 900;
    }
    p {
      margin-top: 1.5rem;
      line-height: 24px;
      color: $second-color2;
      font-weight: 500;
    }
  }
}

.plan {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 1.8rem 3.2rem;
  text-align: center;
  background-color: $second-color1;
  border-radius: 1rem;
}

.btn-payment {
  margin-top: 3rem;
  text-align: center;
  button {
    padding: 1.8rem 10rem;
    border-radius: 1rem;
  }
  p {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}
