* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-size: 1.6rem;
  font-family: 'Red Hat Display', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1440px;
  height: 900px;
  background-color: $primary-color1;
}
